{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="hero min-h-[80vh]" style="background-image: url({% static 'hero_img.png' %}); background-size: cover; background-position: top;">
    <div class="hero-overlay bg-opacity-60"></div>
    <div class="hero-content text-center text-neutral-content">
        <div class="max-w-md">
            <h1 class="mb-5 text-5xl font-bold">Welcome to Peterson Lifts</h1>
            <p class="mb-5">
                Your journey to strength and fitness starts here. Join our community of powerlifters and achieve your goals with our expert training programs.
            </p>
            {% if user.is_authenticated %}
            <a href="{% url 'contact' %}" class="btn btn-primary">Get Started</a>
            {% else %}
            <a href="{% url 'signup_page' %}" class="btn btn-primary">Get Started</a>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}


